<div id="<%= dom_id oauth_client %>">
  <p>
    <strong>Name:</strong>
    <%= oauth_client.name %>
  </p>

  <p>
    <strong>App:</strong>
    <%= oauth_client.app_id %>
  </p>

  <p>
    <strong>App secret:</strong>
    <%= oauth_client.app_secret %>
  </p>

</div>
