<h1>Editing oauth client</h1>

<%= render "form", oauth_client: @oauth_client %>

<br>

<div>
  <%= link_to "Show this oauth client", @oauth_client %> |
  <%= link_to "Back to oauth clients", oauth_clients_path %>
</div>
