<div class='m-5'>

  <h1 class='m-3'>Oauth clients</h1>

  <div id="oauth_clients">
    <% @oauth_clients.each do |oauth_client| %>
      <%= render oauth_client %>
      <p class='m-3'>
        <%= link_to "Mais detalhes", oauth_client %>
      </p>
    <% end %>
  </div>
  <div class='m-3'>

  <%= link_to "Novo", new_oauth_client_path %>
  </div>
</div>
